@import "tailwindcss";



.nav-link {
  @apply text-gray-700 hover:text-gray-900 text-sm font-medium transition-colors;
}

.btn-primary {
  @apply bg-blue-600 text-white px-4 py-2 rounded-md text-sm font-medium hover:bg-blue-700;
}

.dropdown-item {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100;
}

.mobile-link {
  @apply block px-4 py-2 text-gray-700 text-base hover:bg-gray-100;
}
